server:
  port: 7077

spring:
  application:
    name: video-web
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

#Prometheus springboot监控配置
management:
  endpoints:
    web:
      exposure:
        include: '*'
  metrics:
    tags:
      application: ${spring.application.name} # 暴露的数据中添加application label
  prometheus:
    metrics:
      export:
        enabled: true
